In [1]:
import numpy as np
import pandas as pd

In [2]:
# Your code here:
imdb = pd.read_csv(r'C:\Users\paul\Documents\Formation Data Analyst\Bootcamp\Module 3\Project_week_7\imdb_processed.csv')

In [4]:
imdb.shape

(8451, 14)

In [6]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8451 entries, 0 to 8450
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8451 non-null   int64
 1   title       8451 non-null   object
 2   year        8451 non-null   float64
 3   kind        8451 non-null   object
 4   genre       8384 non-null   object
 5   rating      8135 non-null   float64
 6   vote        8135 non-null   float64
 7   country     8152 non-null   object
 8   language    8052 non-null   object
 9   cast        8280 non-null   object
 10  director    7140 non-null   object
 11  composer    5722 non-null   object
 12  writer      7204 non-null   object
 13  runtime     6798 non-null   float64
dtypes: float64(4), int64(1), object(9)
memory usage: 924.5+ KB

In [7]:
imdb.isna().sum()

Unnamed: 0       0
title            0
year             0
kind             0
genre           67
rating         316
vote           316
country        299
language       399
cast           171
director      1311
composer      2729
writer        1247
runtime       1653
dtype: int64

In [8]:
imdb.describe()

        Unnamed: 0         year       rating          vote      runtime
count  8451.000000  8451.000000  8135.000000  8.135000e+03  6798.000000
mean   4225.000000  1991.626080     6.680000  1.873295e+04    99.984113
std    2439.737896    15.129001     1.281778  8.957999e+04    65.277725
min       0.000000  1905.000000     1.500000  5.000000e+00     2.000000
25%    2112.500000  1987.000000     6.000000  3.075000e+02    82.000000
50%    4225.000000  1998.000000     6.900000  1.531000e+03    95.000000
75%    6337.500000  2002.000000     7.600000  6.897500e+03   110.000000
max    8450.000000  2005.000000     9.600000  2.462087e+06  1620.000000

In [9]:
imdb["runtime"].isna().sum()/len(imdb['runtime'])*100
print('percentage of missing value for column Runtime',imdb["runtime"].isna().sum()/len(imdb['runtime'])*100)
# BECAUSE THERE ARE 20% MISSING WE DECIDED TO DROP RUNTIME COLUMN
imdb = imdb.drop('runtime', 1)

percentage of missing value for column Runtime 19.559815406460775

In [10]:
imdb["composer"].isna().sum()/len(imdb['composer'])*100
print('percentage of missing value for column Composer',imdb["composer"].isna().sum()/len(imdb['composer'])*100)
# BECAUSE THERE ARE 32% MISSING WE DECIDED TO DROP COMPOSER COLUMN
imdb = imdb.drop('composer', 1)

percentage of missing value for column Composer 32.292036445391076

In [11]:
imdb["vote"].isna().sum()/len(imdb['vote'])*100
# DECIDE TO DROP THE EMPTY RUNS

3.7392024612471895

In [12]:
#DROP EMPTY RUNS FOR COLUMN VOTE 
imdb.dropna(subset=['vote'], inplace=True)

In [13]:
imdb.isna().sum()

Unnamed: 0       0
title            0
year             0
kind             0
genre           46
rating           0
vote             0
country        177
language       283
cast            89
director      1135
writer        1034
dtype: int64

In [14]:
# We decided drop writer column as there are missing values and usually the writer is less known 
imdb = imdb.drop('writer', 1)

In [15]:
#We are striping the strings from brackets
imdb['genre'] = imdb['genre'].str.strip("[]")
#We are replacing ' by empty space
imdb['genre'] = imdb['genre'].str.replace("'","")
#We are creating a list at ','
imdb['genre'] = imdb['genre'].str.split(',')
#We are taking to first elemnts of the list
imdb['genre'] = imdb['genre'].str[0]

In [16]:
#We are striping the strings from brackets
imdb['country'] = imdb['country'].str.strip("[]")
#We are replacing ' by empty space
imdb['country'] = imdb['country'].str.replace("'","")
#We are creating a list at ','
imdb['country'] = imdb['country'].str.split(',')
#We are taking to first elemnts of the list
imdb['country'] = imdb['country'].str[0]

In [17]:
#We are striping the strings from brackets
imdb['language'] = imdb['language'].str.strip("[]")
#We are replacing ' by empty space
imdb['language'] = imdb['language'].str.replace("'","")
#We are creating a list at ','
imdb['language'] = imdb['language'].str.split(',')
#We are taking to first elemnts of the list
imdb['language'] = imdb['language'].str[0]

In [18]:
#We are striping the strings from brackets
imdb['cast'] = imdb['cast'].str.strip("[]")
#We are replacing ' by empty space
imdb['cast'] = imdb['cast'].str.replace("'","")
#We are creating a list at ','
imdb['cast'] = imdb['cast'].str.split(',')
#We are taking to first elemnts of the list
imdb['cast'] = imdb['cast'].str[0]

In [19]:
#We are striping the strings from brackets
imdb['director'] = imdb['director'].str.strip("[]")
#We are replacing ' by empty space
imdb['director'] = imdb['director'].str.replace("'","")
#We are creating a list at ','
imdb['director'] = imdb['director'].str.split(',')
#We are taking to first elemnts of the list
imdb['director'] = imdb['director'].str[0]

In [20]:
imdb.head()

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director
0,0,Dinosaur Planet,2003.0,tv mini series,Documentary,7.7,474.0,United States,English,Christian Slater,NaN
1,1,Get Up and Dance!,1994.0,video movie,Family,8.1,18.0,United States,English,Paula Abdul,Steve Purcell
2,2,8 Man,1992.0,movie,Action,5.5,93.0,Japan,Japanese,Kai Shishido,Yasuhiro Horiuchi
3,3,What the #$*! Do We (K)now!?,2004.0,movie,Documentary,5.3,13432.0,United States,English,Marlee Matlin,William Arntz
4,4,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991.0,movie,Comedy,4.5,2177.0,United States,English,Brick Bronsky,Eric Louzil

In [21]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8135 entries, 0 to 8450
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8135 non-null   int64
 1   title       8135 non-null   object
 2   year        8135 non-null   float64
 3   kind        8135 non-null   object
 4   genre       8089 non-null   object
 5   rating      8135 non-null   float64
 6   vote        8135 non-null   float64
 7   country     7958 non-null   object
 8   language    7852 non-null   object
 9   cast        8046 non-null   object
 10  director    7000 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 762.7+ KB

In [22]:
# REPLACING THE NaN VALUES BY NONE FOR THE DIRECTOR, GENRE, COUNTRY, LANGUAGE and CAST COLUMNS

In [23]:
imdb['director'] = imdb['director'].replace(np.nan, 'None')

In [24]:
imdb['genre'] = imdb['genre'].replace(np.nan, 'None')

In [25]:
imdb['country'] = imdb['country'].replace(np.nan, 'None')

In [26]:
imdb['language'] = imdb['language'].replace(np.nan, 'None')

In [27]:
imdb['cast'] = imdb['cast'].replace(np.nan, 'None')

In [28]:
imdb.head()

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director
0,0,Dinosaur Planet,2003.0,tv mini series,Documentary,7.7,474.0,United States,English,Christian Slater,None
1,1,Get Up and Dance!,1994.0,video movie,Family,8.1,18.0,United States,English,Paula Abdul,Steve Purcell
2,2,8 Man,1992.0,movie,Action,5.5,93.0,Japan,Japanese,Kai Shishido,Yasuhiro Horiuchi
3,3,What the #$*! Do We (K)now!?,2004.0,movie,Documentary,5.3,13432.0,United States,English,Marlee Matlin,William Arntz
4,4,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991.0,movie,Comedy,4.5,2177.0,United States,English,Brick Bronsky,Eric Louzil

In [29]:
imdb.isna().sum()

Unnamed: 0    0
title         0
year          0
kind          0
genre         0
rating        0
vote          0
country       0
language      0
cast          0
director      0
dtype: int64

In [30]:
# DROPPING THE Unnamed: 0 COLUMN
imdb = imdb.drop('Unnamed: 0', 1)

In [31]:
top10=pd.pivot_table(data=imdb, index=imdb['country'], aggfunc='count').sort_values('kind',ascending=False).head(10)
top10.reset_index(inplace=True)
list_top10=top10.country.to_list()
imdb['country']=np.where(imdb['country'].isin(list_top10),imdb['country'],"other")

In [32]:
# DROPPING THE Unnamed: 0 COLUMN
imdb = imdb.drop('title', 1)

In [33]:
imdb['year']= imdb['year'].astype(str)

In [34]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8135 entries, 0 to 8450
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      8135 non-null   object
 1   kind      8135 non-null   object
 2   genre     8135 non-null   object
 3   rating    8135 non-null   float64
 4   vote      8135 non-null   float64
 5   country   8135 non-null   object
 6   language  8135 non-null   object
 7   cast      8135 non-null   object
 8   director  8135 non-null   object
dtypes: float64(2), object(7)
memory usage: 635.5+ KB

In [35]:
imdb['rating']=round(imdb['rating']).astype(int)

In [43]:
cols = ['year', 'kind', 'genre', 'country', 'language', 'cast', 'director']
from sklearn import preprocessing
imdb_encoded = imdb[cols].apply(LabelEncoder().fit_transform)

NameError: name 'LabelEncoder' is not defined

In [ ]:
imdb.head(10)

In [ ]:
imdb.director.nunique()

In [ ]:
imdb.cast.nunique()

In [ ]:
imdb.to_csv(r'C:\Users\ouykh\Documents\Ironhack\projects\week 7\imdb.csv')